body {
	height: 100%;
	margin: 0;
	font-family: 'helvetica', 'sans-serif';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.clickarea {
	display: flex;
	flex-direction: column;
	/* flex-grow: 1; */
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	color: white;
	background-color: cornflowerblue;
	cursor: pointer;
}

.red {
	background-color: tomato;
}

.green {
	background-color: forestgreen;
}

.message {
	margin: 1vh;
	text-align: center;
	-webkit-user-select: none;        
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 8vh;
}

.note {
	margin: 0;
	text-align: center;
	font-size: 2.8vh;
}
